body {
  background-color: rgb(59 59 107 / 80%);
  color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  background-color: #1b1b32;
  font-size: 22px;
  padding: 30px;
}
.input-field{
  display: flex;
  flex-direction: column;
}
.input-field input{
  height: 30px;
  width: 100%;

}
#dropdown{
  height: 30px;
  width: 100%;
}

#dropdown-2{
  height: 30px;
  width: 100%;
}

input,label {
  display: block;
}

input:not([type='checkbox']) {
  display: initial;
}

.textbox {
  width: 100%;
  height: 90px;
}

button {
  width: 100%;
  height: 30px;
  background-color: #37af65;
}

.input-field label {
  margin-top: 30px;
  margin-bottom: 5px;
}

.checklist label {
  display: inline;
}