body {
  background-color: rgb(59 59 107 / 80%)
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  background-color: #1b1b32;
  font-size: 22px;
}
.input-field{
  display: flex;
  flex-direction: column;
}
.input-field input{
  height: 30px;
  width: 80%;

}
#dropdown{
  height: 30px;
  width: 80%;
}

#dropdown-2{
  height: 30px;
  width: 80%;
}